* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0b0014;
    color: white;
    text-align: center;
}

header {
    padding: 40px 20px;
    background: #1a0033;
    border-bottom: 2px solid #8a2be2;
}

header h1 {
    font-size: 42px;
    color: #b56cff;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

.hero {
    padding: 60px 20px;
}

.hero h2 {
    font-size: 36px;
    color: #d8a7ff;
}

.hero p {
    margin: 20px;
    font-size: 18px;
}

.hero a {
    display: inline-block;
    padding: 12px 25px;
    background: #8a2be2;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.services {
    padding: 40px 20px;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.card {
    background: #160029;
    margin: 15px auto;
    padding: 20px;
    max-width: 300px;
    border-radius: 15px;
    border: 1px solid #8a2be2;
}

.card h3 {
    color: #c084fc;
    font-size: 24px;
}

.card p {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #1a0033;
}
nav {
    margin-bottom: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #b56cff;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #8a2be2;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.03);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    padding: 14px 28px;
    background: #8a2be2;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 17px;
    transition: 0.3s;
}

.buttons a:hover {
    background: #b56cff;
    transform: scale(1.05);
}